* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
}

body,
html {
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    background-color: #292929;

    width: 100%;
    height: 7%;
    gap: 10px;
}

nav {
    margin-left: 10px;
    height: 80%;
}

nav button {
    background-color: #ffffff31;
    color: white;

    width: 50px;
    height: 100%;
    margin: 0;
    border-radius: 5px;
}

main {
    background-color: #0c0c0c;
    font-family: Arial, Helvetica, sans-serif;

    padding-top: 50px;
}

.content {
    background-color: #181818;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;

    width: 95%;
    gap: 30px;
    padding: 50px;
    border-radius: 20px;
}

.card {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: 23%;
    padding-bottom: 10px;
    border-radius: 10px;
}

.card img {
    border-radius: 0 0 70% 70% / 20px;

    box-shadow: inset 0 5px 10px black;
}

.card h2 {
    text-align: center;

    padding-bottom: 20px;
}

.card .data {
    display: flex;
    flex-direction: column;
    font-weight: bolder;

    padding: 10px;
}